:root {
    --primary: #394AFF;
}

.btn{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 4vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--primary);
    color: white;
}
.btn :hover{
    transform: scale(1.15);
}
